@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Slab:wght@800&family=Tilt+Warp&display=swap');
html{
    color: #FBF7F4;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}
body {
    padding: 0%;
    margin: 0%;
    background-color: #2E5077;
    position: relative;
    min-height: 100vh;
}

li a{
    color: #FBF7F4;
    text-decoration: none;
    font-family: 'Tilt Warp', cursive;
}

/* N A V I G A T I O N   B A R */


nav{
    animation-name: fadein;
    animation-duration: .6s;
    padding-bottom: 70px;
}


.navBar {
    animation-name: fallDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: fixed;
    overflow: hidden;

    width: 100%;
    display: flex;
    align-items: center;
    background-color: #2E3532;

}

.navBar ul{
    display: flex;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    background-color: azure;
}

.navBar li{
    display: flex;
    background-color: brown;
}

.navBar li a{
    text-align: center;
    padding: 25px;
    background-color: #2E3532
}

.navBar li a:hover{
    background-color:#679289;
}

.name{
    color: #FBF7F4;
    margin: auto;
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;}

#logo{
    text-align: center;
    width: 60px;
    height: 60px;
    padding-bottom: 5px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #19171600;
    color: #FBF7F4;
    padding: 15px 15px;
    border: none;
  }


  a img{
    position: relative;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
}

.spacer{
    position: relative;
    width: 100%;
    height: 5px;
    color: black;
    background-color: black;
}

/* S I D E  P A N E L*/
/*Overlay for top ov body outside of sidepanel*/
#overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: rgba(85, 82, 82, 0.673);
    animation-name: fadein;
    animation-duration: 0.5s;
}
/*Overlay for closing the side panel*/
#overlay2{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.626);
    animation-name: fadein;
    animation-duration: 1.5s;
}

.sidePanel{
    overflow: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 0%;
    overflow-x: hidden;
    height: 100%;
    background-color:#2E3532;
    transition: 0.6s;
}

.sidePanel ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: darkblue;
}

.closebtn{
font-size: 33px;
float: right;
cursor: pointer;
background-color: #19171600;
color: white;
padding: 15px 15px;
border: none;
}

.sidePanel li{
    background-color: chartreuse;
    list-style-type: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sidePanel a{
    display: block;
    background-color: #2E3532;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sidePanel li a:hover{
    background-color:#679289;
}

/* I N T R O    P A R A G R A P H */
.intro{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 50%;
    background-color:#66615c;
    display: flex;
    flex-direction: row-reverse;
    animation-name: fadein;
    animation-duration: .3s;
}

#picNoah{
    min-width: 50vw;
    min-height: 44vh;

    background-image: url('../Images/44043.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.pHeader{
    color: black;
    padding: 10px;
    margin: 0%;
    border-color: black;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    background-color:#679289;
    font-family: 'Tilt Warp', cursive;
    grid-area: 'main';
}
.pHeader p{
    padding: 2%;
    margin: 0%;
    text-align: center;
    font-size: max(4.0vw, 28px);
    letter-spacing: 2px;
}

.pIntro{
    position: relative;
    margin: 0px;
    display: grid;
    align-content: space-evenly;
    grid-template-columns: 'header' 'main';
    background-color:#E06D06;
    row-gap: 0px;
    padding: 0px;
}

.pBody{
    grid-area: 'header';
    font-family: 'Kanit', sans-serif;
    text-shadow: -1px 0 black, 0 px black, 1px 0 black, 0 -1px black;
    margin: 0%;
    line-height: max(2.1vw,22px);
    font-size: max(2.0vw, 21px);
    text-align: center;
    background-color: #E06D06;
    padding: 20px;
}


/*F O O T E R*/
#content-wrap {
    padding-bottom: 2.5rem;
}

.License{
    position: absolute;
    padding: 0%;
    margin: 0%;
    bottom: 0%;
    width: 100%;
    background-color: bisque;
}

.License p{
    position: relative;
    padding: 5px;
    bottom: 0%;
    margin: 0%;
    background-color: #195b23;
    text-align: center;
}

/* SCREEN SIZE SETTINGS */
@media screen and (Max-width: 695px){
    .nav_btn{
        display: none;
    }
    .name{
        display: none;
    }
    .intro{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pIntro{
        height:43vh;
    }
    #logo{
        float: right;
        margin: 5px;
        margin-right: 15px;   
    }
    #phoneName{
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        display: block;
        margin: auto;
    }
    #picNoah{
        width: 100%;
        height: 30%;
     }
     .pBody{
        line-height: max(4.0vw,17px);
        font-size: max(4.5vw,17px);
        margin: 5px;
        padding: 10px;
    }
}

@media screen and (min-width: 695px){
    .openbtn{
        display: none;
    }
    #phoneName{
        display: none;
    }
    .overlay{
        display: none;
    }
}

/* A N I M A T I O N S */

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fallDown{
    from {height: 0px;}
    to {height:70px;}
}

.DEV {
    font-size: 40px;
    text-align: center;
}

#pdf{
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding: 5px;
    text-align: center;
    background-color: #2E3532;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10px;
}

#pdf iframe{
    overflow-x: hidden;
    overflow-y: hidden;
    border: none;
    justify-content: center;
    text-align: center;
    background-color: #2E3532;
    width: 80vw;
    height: 85vh;
}